#page {
    padding-top: 60px;
}

.grid-view.grid-view-loading { opacity: 0.5; }

.offset-top-10px{
	margin-top:10px;
}

.offset-left-30px{
 margin-left:30px;
 }

.offset-left-10px{
 margin-left:10px;
 }

.offset-left-5px{
 margin-left:5px;
 }

.roles-list-view {
    padding-top: 20px;
}

.roles-list-view ul {
    display:block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.roles-list-view li {
    display: block;
    margin: 0 5px 10px 5px;
    padding: 0;
}

.roles-info{
	color: #999999;
    display: inline-block;
    text-shadow: 0 1px 0 #FFFFFF;
	font-size:0.9em;
}

#scale {   }
#scale * { display: inline;   }
#scale label { padding-right: 10px; }

table.table-ext, table.table-ext td {
    border: none;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
table.table-ext td { padding-right: 10px; }

.modal-body { min-height: 300px; }
.accordion-heading { background-color:#E9E9E9; }

#providersContent .cost { color: rgb(0, 136, 204); font-weight: bold; margin-right: 10px; }
#providersContent .date { color: #000; margin-right: 10px; }
#providersContent .name { color: #000; margin-right: 10px; }
#providersContent .comment { color: #666; margin-right: 10px; }

#project { padding-top: 50px; }
.building { padding-top: 50px; }

.tab-content { overflow: hidden; }

.text-right { text-align: right !important; }
.text-center { text-align: center !important; }
.text-left { text-align: left !important; }

legend { margin-bottom: 10px !important; }
